{% extends "templates/public_template.html" %}

{% block title %}About · Tucil 4 Stima{% endblock %}

{% block main %}
<div class="contain">
    <div class="row">
        <div class="column"  style="margin-left: auto; margin-right: auto;">
            <h1 style="color:whitesmoke">Tentang Pembuat Program</h1>
        </div>
    </div>
</div>
<p style="color: antiquewhite;" align="justify">    Fakhrurrida Clarendia Widodo lahir di Leeds, Britania Raya, pada tanggal 2 Agustus 2000. Edo, sapaan akrabnya, merupakan putra ketiga dari tiga bersaudara dari pasangan Bapak Basuki Widodo dan Ibu Tri Rahayuningsih. Pada tahun 2005, ia memulai pendidikan dasar di Taman Kanak-Kanak Institut Teknologi Sepuluh Nopember (TK ITS), Surabaya tamat tahun 2006. Setelah lulus dari TK, ia melanjutkan pendidikannya di Sekolah Dasar Negeri Klampis Ngasem 1 Surabaya. Di jenjang SD, ia mengikuti berbagai jenis kompetisi seperti Olimpiade Bahasa Jawa Tingkat Kota Surabaya, Kompetisi Futsal Tingkat Kota Surabaya, dan Kompetisi Matematika PASIAD Se-Indonesia serta memenangkan beberapa di antaranya. 
    Setelah lulus SD pada tahun 2012, Edo melanjutkan studinya ke Sekolah Menengah Pertama Negeri 1 Surabaya. Setelah tiga tahun duduk di bangku SMP, ia lulus. 
        Pada tahun 2015, Edo melanjutkan studinya ke sekolah menengah atas yang sudah ia idam-idamkan sejak duduk di bangku sekolah dasar yakni almamater Bapak Ir. Soekarno, Sekolah Menengah Negeri 5 Surabaya. Selama tiga tahun mengenyam pendidikan di SMA, ia aktif  dalam beberapa organisasi yang ada di sekolah seperti menjadi Ketua Pengkaderan Organisasi Kerohanian Islam, Wakil Ketua Kegiatan Sekolah Tadarus “Abata”, dan Sekretaris Bidang Kerohanian Organisasi Siswa Intra Sekolah (OSIS) pada tahun 2016 dan menjadi Steering Committee Acara Pentas Seni Tahunan Sekolah “Nouveau” pada tahun 2017. Selain aktif berorganisasi, ia juga pernah menjuarai Olimpiade Bahasa Jerman A1 tingkat Provinsi Jawa Timur “Regionale Deutscholympiade” yang diselenggarakan oleh Ikatan Guru Bahasa Jerman Indonesia pada tahun 2017. 
    Di tengah-tengah padatnya jadwal sekolah dan organisasi saat SMA, ia masih sering bermain permaianan komputer “Pro Evolution Soccer” dan “Defense of the Ancients” untuk menyalurkan minatnya. Kecintaannya yang sangat tinggi akan komputer dan permainannya membuat ia memilih untuk melanjutkan pendidikan tingginya ke Sekolah Teknik Elektro dan Informatika Institut Teknologi Bandung (STEI ITB) pada tahun 2018. 
        Selama satu tahun studinya di Institut Teknologi Bandung, Edo telah tergabung dalam salah satu unit rumpun olahraga di ITB yakni Unit Bulu Tangkis ITB (UBT-ITB). Dalam unit tersebut, ia cukup aktif dalam menjadi anggota. Pada bulan Oktober tahun 2018, ia mendapatkan amanah untuk menjadi ketua kompetisi badminton antar fakultas di ITB yaitu “TPB Cup Badminton 2019” yang telah dilaksanakan pada bulan Maret tahun 2019.  
    
</p>

{% endblock %}