{% extends "templates/public_template.html" %}

{% block title %}Boyer-Moore Algorithm · Tucil 4 Stima{% endblock %}

{% block main %}
<div class="contain">
    <div class="row">
        <div class="column"  style="margin-left: auto; margin-right: auto;">
            <h1 style="color:whitesmoke">Boyer-Moore Algorithm</h1>
        </div>
    </div>
</div>
<p style="color: antiquewhite;">Algoritma Boyer-Moore adalah salah satu algoritme pencarian string, dipublikasikan oleh Robert S. Boyer, dan J. Strother Moore pada tahun 1977. Algoritma ini dianggap sebagai algoritma yang paling efisien pada aplikasi umum. Tidak seperti algoritma pencarian string yang ditemukan sebelumnya, algoritme Boyer-Moore mulai mencocokkan karakter dari sebelah kanan pattern. Ide di balik algoritme ini adalah bahwa dengan memulai pencocokan karakter dari kanan, dan bukan dari kiri, maka akan lebih banyak informasi yang didapat. 
</p>

{% endblock %}