{% extends "templates/public_template.html" %}

{% block title %}Regex Algorithm · Tucil 4 Stima{% endblock %}

{% block main %}
<div class="contain">
    <div class="row">
        <div class="column"  style="margin-left: auto; margin-right: auto;">
            <h1 style="color:whitesmoke">Regex Algorithm</h1>
        </div>
    </div>
</div>
<p style="color: antiquewhite;">Regular Expression (sering disingkat sebagai regex atau regexp) adalah urutan karakter yang menentukan pencarian pola. Umumnya, pola tersebut digunakan oleh algoritma pencarian string untuk operasi "find" atau "find and replace" pada string, atau untuk validasi input. Ini adalah teknik yang dikembangkan dalam ilmu komputer teoretis dan teori bahasa formal.
	Konsep regex ini muncul pada 1950-an ketika ahli matematika Amerika Stephen Cole Kleene memformalkan deskripsi bahasa regular. Konsep ini mulai umum digunakan dengan utilitas pemrosesan teks pada UNIX. Sintaks yang berbeda untuk menulis ekspresi reguler telah ada sejak 1980-an, satu menjadi standar POSIX dan lainnya, banyak digunakan, menjadi sintaks Perl.
	Regex digunakan di mesin pencari, fitur “find and replace” pengolah kata dan editor teks, dalam utilitas pemrosesan teks seperti sed dan AWK dan dalam analisis leksikal. Banyak bahasa pemrograman menyediakan kemampuan regex, baik yang ada di dalam atau melalui library.
</p>
{% endblock %}